<!DOCTYPE HTML>

<html>
	<head>
		<title>Winnie The Pooh API</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section class="intro">
						<header>
							<h1>Winnie The Pooh API</h1>
							<p>An awesome API by <a href="https://twitter.com/julienmellon">Julien Mellon</a> / <a href="https://github.com/julienmellon">Link to my Github</a></p>
							<ul class="actions">
								<li><a href="#first" class="arrow scrolly"><span class="label">Next</span></a></li>
							</ul>
						</header>
						<div class="content">
							<span class="image fill" data-position="center"><img src="images/pic01.jpg" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section id="first">
						<header>
							<h2>Summary</h2>
						</header>
						<div class="content">
							<p><strong>The Winnie The Pooh API</strong> is a REST API that returns JSON Data Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste quaerat assumenda nobis quia deleniti velit impedit inventore modi! Accusantium, doloribus. </p>
							<span class="image main"><img src="images/pic02.jpg" alt="" /></span>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>Technology Used</h2>
						</header>
						<div class="content">
							<p><strong>Built with amazing technology</strong> this is A totally RESTful API </p>
							<ul class="feature-icons">
								<li class="icon solid fa-signal">Node.js</li>
								<li class="icon solid fa-trash">Express</li>
								<li class="icon solid fa-signal">Tigger!</li>
								<li class="icon solid fa-cog">Piglet!</li>
								<li class="icon solid fa-map-marker-alt">Eeyore!</li>
								<li class="icon solid fa-code">Kanga!</li>
							</ul>
							<p>“The things that make me different are the things that make me, me.”</p>
						</div>
					</section>

				<!-- Section -->
					<section>
						<header>
							<h2>How to use the API</h2>
						</header>
						<div class="content">
							<p><strong>/api</strong> returns a JSON object with a bunch of Pooh Quotes</p>
							<p><strong>/random</strong> returns a random pooh quote</p>

							
				<!-- Section -->
					<section>
						<header>
							<h3>Ready To See Some API Action?</h3>
							<h2>Endpoints</h2>
						</header>
						<div class="content">
							<p><strong></strong> </p>
							<ul class="actions">
								<li><a href="/api" class="button primary large">Get Quotes</a></li>
								<li><a href="/random" class="button large">Get Random</a></li>
							</ul>
						</div>
					</section>

		
				<!-- Section -->
					<section>
						<header>
							<h2>Developed by Julien Mellon</h2>
						</header>
						<div class="content">
							<p><strong>Julien </strong> is a software engineer based in New York City.</p>
							<!-- <form>
								<div class="fields">
									<div class="field half">
										<input type="text" name="name" id="name" placeholder="Name" />
									</div>
									<div class="field half">
										<input type="email" name="email" id="email" placeholder="Email" />
									</div>
									<div class="field">
										<textarea name="message" id="message" placeholder="Message" rows="7"></textarea>
									</div>
								</div>
								<ul class="actions">
									<li><input type="submit" value="Send Message" class="button primary" /></li>
								</ul>
							</form> -->
						</div>
						<footer>
							<ul class="items">
								<li>
									<h3>Email</h3>
									<a href="mailto:mellon.julien@gmail.com">mellon.julien@gmail.com</a>
								</li>
								
								<li>
									<!-- <h3>Address</h3> -->
									<span>Brooklyn, NY</span>
								</li>
								<li>
									<h3>Elsewhere</h3>
									<ul class="icons">
										<li><a href="http://twitter.com/julienmellon" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="https://www.linkedin.com/in/julienmellon/" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
										<li><a href="https://www.github.com/julienmellon" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
									</ul>
								</li>
							</ul>
						</footer>
					</section>

				<!-- Copyright -->
					<div class="copyright">&copy; Julien Mellon. All rights reserved.</div>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>